@charset "UTF-8";

* {
	background-color: gray;
}

.submit_btn {
	width: 90px; 
    height: 30px; 
	color: yellow;
	font-size: inherit;
	margin: 10px;
	border: solid 1px white;
}

.result {
	min-height: 30px;
}

.container {
	text-align: center;
}

.input {
	text-align: center;
}

.button {
	width: 60px; 
    height: 60px; 
	color: yellow;
	font-size: inherit;
	margin-bottom: 10px;
	border-radius: 50%; 
	border: solid 1px white;
}

@media screen and (max-width: 768px) {
	* {
		background-color: black;
	}
	
	h1 {
		color: green;
	}
	
	h2 {
		 color: green;
	}
	
	.container {
	    display: flex;
	    flex-direction: column;
	    justify-content: center; /* Center aligns flex items horizontally */
	    align-items: center; /* Center aligns flex items vertically */
	    height: 100vh; 
	}
	
	.container input {
		text-align: center;
	}

	.container button {
		text-align: center;
	    width: 30%; 
	    padding: 10px;
	    border: 1px solid green;
	    background-color: black;
	    font-size: 1.2em;
	}
	
}



